name = "my-blog"

compatibility_date = "2024-04-01"
compatibility_flags = ['nodejs_compat']

[placement]
mode = "smart"

[[d1_databases]]
binding = "DB"
database_name = "peters-blog"
database_id = "{db_id}"
